* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
}

html,
body {
    height: 100%;
    /* overflow: hidden; */
}

/* .side {
    background-color: blue;
    padding: 20px;
    height: 100%;

} */

#content {
    box-sizing: border-box;
    display: flex;
    background-color: white;
    flex: 1;
    /* flex-shrink: 0; */
}

#map {
    height: 100%;
    width: 100%;
}

#leftPanel {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;

    align-items: start;
    height: 100vh;
    width: 40%;
    margin: 20px;
}

#options {
    width: 100%;
    height: 30%;
    display: flex;
    flex-shrink: 1;
    align-items: space-between;
    padding: 20px;
    /* flex-flow: row wrap; */
}

#leftOptionsContainer {
    display: flex;
    flex-shrink: 1;
    flex-direction: column;
    /* flex-flow: row wrap; */
}

#searchContainer {
    display: flex;
    align-self: center;
    margin-bottom: 10px;
    flex-flow: row wrap;
}

#search {
    padding: 10px;
    border: 2;
    flex-grow: 1;
}

#currentLatitude,
#currentLongitude {
    padding: 10px;
    flex-grow: 2;
}
#currentLatitude:focus,
#currentLongitude:focus {
    outline: none;
}

#locateMe {
    width: 100px;
    margin-bottom: 10px;
    align-self: center;
}

#bottomOptionsContainer {
    display: flex;
    flex: 1;
}

#bottomParametersContainer {
    flex: 1;
    display: flex;
    align-items: stretch;
    
}

#minimumRatingContainer {
    flex-shrink: 2;
}

#orderByContainer {
    flex-shrink: 3;
}

#radiusContainer {
    display: flex;
    align-items: center;
}

#radiusSlider {
    width: 30px;
    direction: rtl;
    appearance: slider-vertical;

}

#radiusValue {
    margin-right: 2px; 
    
}

#rightPanel {
    width: 60%;
    height: 100%;
    margin: 20px 20px 20px 0px;
    overflow-y: auto;
}

table {
    width: 100%;
    /* margin: 20px 20px 20px 0px; */
    table-layout: fixed;
    border-collapse: collapse;
}

th, td {
    border: 2px solid black;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 8px;
    text-align: center;
    white-space: nowrap;
}

th {
    background-color: #f2f2f2;
    position: sticky;
    top: 0;
    z-index: 1;
}

th:nth-child(1), td:nth-child(1) {
    width: 40%;
}
th:nth-child(2), td:nth-child(2) {
    width: 15%;
}
th:nth-child(3), td:nth-child(3) {
    width: 20%;
}
th:nth-child(4), td:nth-child(4) {
    width: 15%;
}
th:nth-child(5), td:nth-child(5) {
    width: 10%;
}

/* Media Query para dispositivos pequeños */
/* @media (max-width: 768px) {
    body {
        flex-direction: column;
    }

    #content {
        flex-direction: column;
    }

    #leftPanel {
        width: 100%;
        margin: 10px;
    }

    #rightPanel {
        width: 100%;
        margin: 10px 10px 10px 0px;
    }

    #options {
        flex-direction: column;
    }

    #bottomOptionsContainer {
        flex-direction: column;
    }

    #radiusSlider {
        width: 100%;
        direction: ltr;
    }
} */