* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
}

html,
body {
    height: 100%;
    /* overflow: hidden; */
}

/* .side {
    background-color: blue;
    padding: 20px;
    height: 100%;

} */

#content {
    box-sizing: border-box;
    display: flex;
    background-color: white;
    flex: 1;
    /* flex-shrink: 0; */
}

#map {
    height: 100%;
    width: 100%;
}


#leftPanel {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 100vh;
    width: 40%;
    margin: 20px;
}

#options {
    flex-shrink: 0;
    width: 100%;
    display: flex;
    /* flex-direction: ; */
    align-items: space-between;
    height: 30%;
    padding: 20px;
}

#leftOptionsContainer {
    display: flex;
    flex-direction: column;
}

#searchContainer {
    display: flex;
    align-self: center;
    margin-bottom: 10px;
}
#search {
    padding: 10px;
    border: 2;
}

#currentLatitude,
#currentLongitude {
    padding: 10px;
}
#currentLatitude:focus,
#currentLongitude:focus {
    outline: none;
}

#locateMe {
    width: 100px;
    margin-bottom: 10px;
    align-self: center;
}

#bottomOptionsContainer {
    display: flex;
    /* align-items: stretch; */
    /* height: 100%; */
    flex: 1;
    /* margin-top: 40px; */
}

#bottomParametersContainer {
    flex: 1;
    display: flex;
    align-items: stretch;
    
}

#minimumRatingContainer {
    /* flex-shrink: 0; */
}

#rightPanel {
    width: 60%;
    height: 100%;
    margin: 20px 20px 20px 0px;
    overflow-y: auto;
}

table {
    width: 100%;
    /* margin: 20px 20px 20px 0px; */
    table-layout: fixed;
    border-collapse: collapse;
}

th, td {
    border: 2px solid black;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 8px;
    text-align: center;
    white-space: nowrap;
}

th {
    background-color: #f2f2f2;
    position: sticky;
    top: 0;
    z-index: 1;
}

th:nth-child(1), td:nth-child(1) {
    width: 40%;
}
th:nth-child(2), td:nth-child(2) {
    width: 15%;
}
th:nth-child(3), td:nth-child(3) {
    width: 20%;
}
th:nth-child(4), td:nth-child(4) {
    width: 15%;
}
th:nth-child(5), td:nth-child(5) {
    width: 10%;
}